<div class="container">
  <label>Server name</label>
  <input type="text" class="form-control" (input) = "onUpdateServerName($event)">
  <input type="text" class="form-control" [(ngModel)]="serverName">
  <p *ngIf="isCreated() else noServer">{{serverName}}</p>
  <ng-template #noServer>
    <p>No server created</p>
  </ng-template>
  <button class="btn btn-primary" [disabled]="!getAllowedNewServer()" (click)="onCreateServer()">add server</button>
  <p>{{getAllowedNewServer()}}</p>
  <p>{{status}}</p>
  <p>app-servers works!</p>
  <app-server></app-server>
  <app-server></app-server>
</div>


